@import "base/colores";
@import "base/spancolor";
@import "component/index/menu";
@import "component/index/des";
@import "component/index/trabajos";
@import "component/index/nosotros";
@import "component/index/servicios";
@import "component/index/footer";
@import "base/responsive";

body{
    background-color: #0f1225;
    background: linear-gradient(to right, #0f1225, darken($azul, 7%)); 
    text-align: center;
}
*{
    margin: 0px;
    padding: 0px;
}

